
Below are all the commands that need to run on your freshly rooted brain.
As the /steady directory is only partially cleaned during a firmware upgrade and you might have installed some things there, 
let's make sure that the older stuff is removed before we are going to start the installer.
This is purely, because I expect the brain to be freshly rooted, not full of remnants of other tries.
Normally, cleanup should not be necessary because people will follow you installation-vioeo;-)

Removal old stuff:
login through ssh
 a) sudo mount -o remount,rw /
 b) sudo rm -r /steady/neeo-custom
 c) sudo rm -r /steady/pm2-meta
 d) sudo rm -r /steady/.installer
 
Not all of these directories will be there, so no problems if commands fail.
If you want to be absolutely sure, you can reboot the brain (sudo reboot now), but that should not be necessary 

Installation of metadriver (and prerequisites) on NEEO-Brain 
login through ssh -i <key-ending with id_rsa> -l neeo

   1  sudo mount -o remount,rw /
   2 curl ' https://raw.githubusercontent.com/jac459/neeo2021onward/main/Meta%20running%20in%20Brain/installmeta.sh' -o installmeta.js -k
   3 . installmeta.sh
   4 . ~/.bashrc
   5 nvm install --lts=erbium
   6 cd ~
   7 . installmeta.sh
   
That's it, you should now be able to see node-red as a webpage server from your brain: <IP-address Brain>:1880 in your browser

All of the meta-services (mosquitto, node-red and metadriver) are started under a user-version of PM2, leaving NEEO's processes alone. 
Most users will only be interested in the new user-services, so we have added assignment of PM2_HOME to the user-directory for PM2 (in .bashrc). 
You can check the status of these user services with this command:
pm2 list <-- this gives you the status of all 3 user-services, they need to have status online
If you want to see the output of meta, use this command:
pm2 log meta
This shows you a running output of the output from meta; any new message will show there until you hit cntrl-c

Restarting meta:
pm2 restart meta

Please note that all commands in this textfile are CASE-sensitive!!! Type them in exactly as they are presentes here. 